// sass-lint:disable no-css-comments, no-color-hex, no-color-literals

// Site custom styles

body {
	background-image: url(bgd.jpg);
	background-size: contain;
	background-repeat: no-repeat;
}

.layout__second-sidebar h4,
.layout__second-sidebar ul {
	margin: 0;
	line-height: 1.3em;
	font-size: 0.6em;
}
.header__logo-image {
	width: 50px;
	height: 50px;
}
