// sass-lint:disable no-css-comments, no-color-hex, no-color-literals

// Site custom styles

body {
	// background-image: url(bgd.jpg);
	// background-size: contain;
	// background-repeat: no-repeat;
}
#page-image {
	position: fixed;
	width: 450px;
	height: 100%;
	margin-left: -450px;

	background-image: url(bgd.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.layout__second-sidebar h4,
.layout__second-sidebar ul {
	margin: 0;
	line-height: 1.3em;
	font-size: 0.6em;
}
.header__logo-image {
	width: 50px;
	height: 50px;
}
.breadcrumbs {
  font-size: 0.7em;
  margin-right: auto;
  a {
    color: $grey-light;
  }
}
.main-menu {
  li {
    @include margin-right(1);
    @include margin-bottom(0);
  }
  a {
    background-color: transparent;
    color: $brand;
    text-decoration: none;
  }
  &:hover,
  &:focus {
    background-color: transparent;
    color:$brand-dark;
  }
  &:active,
  &.active {
    background-color: transparent;
    color:$brand-dark;
    text-decoration: none;
  }
}
.dashboard {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .column {
    flex-basis: 100%;
    padding: 0px;
    @include respond-to(xl) {
      flex-basis: 50%;
      padding: 10px;
    }
  }
}

.section-events.list-view,
.section-groups.list-view,
.section-topics.list-view {
  background-color: rgba($brand, 0.2);
  margin: 20px 0 ;
  padding: 20px;
  border-radius: 20px 3px;
  box-shadow: 10px 10px 15px #aaaaaa;
  h2 {
    margin: 0;
    a {
      text-decoration: none;
    }
  }
}