// sass-lint:disable no-color-keywords; no-color-hex

// Base colors.
$black: #000;
$nearblack: lighten($black, 30%);
$grey-dark: lighten($black, 40%); // #666
$grey: lighten($black, 60%); // #999
$grey-light: lighten($black, 80%); // #ccc
$grey-extra-light: lighten($black, 93.33%); // #eee
$white: #fff;

$blue: #0072b9;
$red: #c00;
$green: #11773c;
$yellow: #fd0;
$brown: rgb(156, 78, 26);

// Colors used in the main content area.
$brand: $green;
$brand-alt: $grey;
$brand-dark: $grey-dark;
$text: $nearblack;
$text-bg: $white;
$text-meta: $grey-dark;

$link: $green;
$link-visited: $green;
$link-hover: $green;
$link-active: $red;

$border: $grey-light;
$border-dark: $nearblack;

$autocomplete: $text;
$autocomplete-bg: $text-bg;
$autocomplete-select: $white;
$autocomplete-select-bg: $blue;

$body-bg: rgba($white, 0.8);
$header-bg: $brand;
$backdrop: $grey-extra-light;

$mobile-menu: $header-bg;
$mobile-menu-cover: rgba($black, 0.2);

$button: $nearblack;
$button-disabled: $grey;

$form-error: $red;

$mark-highlight: $red;
$mark-bg: $yellow;

$menu-active: $text;

$preview-bg: lighten($yellow, 43%);

$row-stripe: $white;
$row-disabled: $grey-light;

$status: $green;
$status-bg: lighten($status, 62%);
$status-highlight: $text;
$warning: $text;
$warning-bg: lighten($yellow, 45%);
$warning-border: $yellow;
$error: $red;
$error-bg: lighten($error, 57%);

$watermark: $grey-extra-light;

$headings: $brown;

$code: $nearblack;
