<article id="{{anchorize .Title}}" class="{{ with .Section }}section-{{ . | urlize }} {{ end }}list-view">
<header>
{{ with .Site.Params.githubEdit}}<a class="github-edit role-editor hidden" target="_blank" href="{{ . }}{{ replace $.File.Path "\\" "/" }}"><i class="fa fa-fw fa-pen"></i></a>{{ end }}
<h2 class="title {{ if $.Param "submitted" | default false }}title-submitted{{ end }}">
    <a class="doc-link" href="{{ $.Params.link | default .RelPermalink}}" target="_blank"><img src="{{ .Params.icon | default "/images/google-docs.png"}}" />
    {{ .Title }}</a>
</h2>

</header>
<div class="content">
{{ .Summary }}
</div>
</article>
