<article class="{{ with .Section }}section-{{ . | urlize }} {{ end }}list-view">
{{ with .Params.cover }}<img src="{{.}}" class="list-cover-image" />{{ end }}
<header>
<h2 class="title {{ if $.Param "submitted" | default false }}title-submitted{{ end }}"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
{{ if $.Param "submitted" | default false }}{{ partial "submitted.html" . -}}{{ end }}
{{ if $.Param "date" | default false }}{{ partial "date.html" . -}}{{ end }}
</header>
<div class="content">
{{ .Summary }}
</div>

</article>
