{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "main" -}}
<main class="main layout__main">
<article class="{{ with .Section }}section-{{ . | urlize }} {{ end }}single-view">
<div class="content dashboard">
    <div class="column">
        <div class="frontpage-content">
            {{ with .Site.Params.githubEdit}}<a class="github-edit role-editor hidden" target="_blank" href="{{ . }}{{ replace $.File.Path "\\" "/" }}"><i class="fa fa-fw fa-pen"></i></a>{{ end }}
            <h2>{{ .Title }}</h2>
            {{ .Content }}
        </div>
        <div class="frontpage-list frontpage-list-groups">
            <h2>Groups</h2>
            {{ $groups := where .Site.RegularPages "Section" "groups" }}
            {{ $groups := $groups | first 5 }}
            <ul>
            {{- range $groups -}}
                {{ .Render "li"}}
            {{- end -}}
            </ul>
        </div>
        <div class="frontpage-list frontpage-list-topics">
            <h2>Topics</h2>
            {{ $topics := where .Site.RegularPages "Section" "topics" }}
            <ul class="frontpage-topics">
            {{- range $topics -}}
                {{ .Render "li"}}
            {{- end -}}
            </ul>
        </div>
    </div>
    <div class="column">
        <div class="frontpage-list frontpage-list-events">
            {{ $events := where .Site.RegularPages.ByDate "Section" "events" }}
            {{ $events := $events | intersect (where $events "Date" "ge" now) }}
            {{ if gt (len $events) 0 }}
            <h2>Future events</h2>
            
            
            {{- range $events -}}
                {{ .Render "summary"}}
            {{- end -}}
            <a class="all-link" href="/events/">All events</a>
            {{ end }}
        </div>
        
        <div class="frontpage-list frontpage-list-news">
            <h2>News</h2>
            {{ $news := where .Site.RegularPages.ByDate.Reverse "Section" "news" }}
            {{- range $news -}}
                {{ .Render "summary"}}
            {{- end -}}
            <a class="all-link" href="/news/">All news</a>
        </div>
    </div>
</div>
</article>


</main>
{{ end }}
